Ingestion Pipeline copy (1).json
{
  "name": "Ingestion Pipeline copy",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "=/files",
        "events": [
          "add"
        ],
        "options": {
          "ignored": "*/processed/*",
          "usePolling": true
        }
      },
      "id": "cc618528-62b7-4389-bf84-16eaaeee9507",
      "name": "Local File Trigger",
      "type": "n8n-nodes-base.localFileTrigger",
      "position": [
        0,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Add start timestamp for metrics\nconst item = $input.first().json;\nitem.metrics_start_time = Date.now();\nreturn { json: item };"
      },
      "id": "start-timer-node",
      "name": "Start Timer",
      "type": "n8n-nodes-base.code",
      "position": [
        224,
        304
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.path.toLowerCase() }}",
              "value2": ".pdf",
              "operation": "endsWith"
            }
          ]
        },
        "options": {}
      },
      "id": "file-type-validator",
      "name": "IF (PDF Only)",
      "type": "n8n-nodes-base.if",
      "position": [
        448,
        304
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const fileName = $input.first().json.path.split('/').pop();\nconst fileExt = fileName.split('.').pop();\nconst startTime = $input.first().json.metrics_start_time;\nconst processingTime = Date.now() - startTime;\n\nreturn {\n  json: {\n    status: 'REJECTED',\n    fileName: fileName,\n    fileType: fileExt,\n    reason: 'Only PDF files are supported',\n    timestamp: new Date().toISOString(),\n    action: 'File skipped - remains in /files/',\n    metrics: {\n      processing_time_ms: processingTime,\n      chunks_created: 0,\n      success: false,\n      rejection_reason: 'unsupported_file_type'\n    }\n  }\n};"
      },
      "id": "invalid-file-handler",
      "name": "Invalid File Type",
      "type": "n8n-nodes-base.code",
      "position": [
        1840,
        528
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.path }}",
        "options": {}
      },
      "id": "0c6d585e-7e05-41fe-b6fc-ae6318232a3b",
      "name": "Read Files from Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "position": [
        672,
        224
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "37d637c4-8930-4898-b4b6-89f5a6b8db5f",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        896,
        224
      ],
      "typeVersion": 1.1,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "documents"
        },
        "options": {
          "contentPayloadKey": "content",
          "metadataPayloadKey": "metadata"
        }
      },
      "id": "25276569-62ec-4258-8943-497bbb445187",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        1152,
        48
      ],
      "typeVersion": 1.3,
      "credentials": {
        "qdrantApi": {
          "id": "HWkFMEtwzCfN7mjV",
          "name": "QdrantApi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "={{ $('Local File Trigger').item.json.path.split('/').pop() }}"
              },
              {
                "name": "full_path",
                "value": "={{ $('Local File Trigger').item.json.path }}"
              },
              {
                "name": "ingested_at",
                "value": "={{ $now.toISO() }}"
              },
              {
                "name": "file_size",
                "value": "={{ $('Read Files from Disk').item.binary.data.fileSize }}"
              },
              {
                "name": "document_type",
                "value": "pdf"
              },
              {
                "name": "department",
                "value": "general"
              }
            ]
          }
        }
      },
      "id": "a665ef2e-4f1d-4c62-af51-9cf7d4935702",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        1248,
        272
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "model": "=nomic-embed-text:latest"
      },
      "id": "15fa37ac-e796-411c-8673-903d9d6709bc",
      "name": "Embeddings Ollama",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "position": [
        1120,
        272
      ],
      "retryOnFail": false,
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "S1HylugwIcCw6hQy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 2500,
        "chunkOverlap": 250,
        "options": {}
      },
      "id": "6e983161-63f5-40fb-b69a-1747370e0c27",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        1328,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "📊 METRICS TRACKING:\n• Processing time per file\n• Chunks created count\n• Success/failure rates\n• File type rejections\n• Error categorization\n\nAll logged for analysis"
      },
      "id": "04ab30e8-f1eb-4bdf-aa3e-f5ca18f0bb5b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const startTime = $('Local File Trigger').item.json.metrics_start_time;\nconst processingTime = Date.now() - startTime;\nconst fileName = $('Local File Trigger').item.json.path.split('/').pop();\nconst fileSize = $('Read Files from Disk').item.binary.data.fileSize;\n\n// Estimate chunks created (Qdrant returns array of inserted IDs)\nconst chunksCreated = $input.all().length || 1;\n\nreturn {\n  json: {\n    status: 'SUCCESS',\n    fileName: fileName,\n    timestamp: new Date().toISOString(),\n    metrics: {\n      processing_time_ms: processingTime,\n      processing_time_seconds: (processingTime / 1000).toFixed(2),\n      file_size_bytes: fileSize,\n      file_size_kb: (fileSize / 1024).toFixed(2),\n      chunks_created: chunksCreated,\n      chunks_per_second: (chunksCreated / (processingTime / 1000)).toFixed(2),\n      success: true\n    }\n  }\n};"
      },
      "id": "success-log-node",
      "name": "Success Log",
      "type": "n8n-nodes-base.code",
      "position": [
        1840,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const errorNode = $input.first().json.node;\nconst errorMessage = $input.first().json.error?.message || 'Unknown error';\nconst fileName = $('Local File Trigger').item.json.path.split('/').pop();\nconst startTime = $('Local File Trigger').item.json.metrics_start_time;\nconst processingTime = Date.now() - startTime;\n\nreturn {\n  json: {\n    status: 'FAILED',\n    fileName: fileName,\n    failedAt: errorNode,\n    error: errorMessage,\n    timestamp: new Date().toISOString(),\n    action: 'File remains in /files/ for manual review',\n    metrics: {\n      processing_time_ms: processingTime,\n      chunks_created: 0,\n      success: false,\n      error_type: errorNode,\n      error_message: errorMessage\n    }\n  }\n};"
      },
      "id": "error-handler-node",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "position": [
        1616,
        352
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Central metrics logging\nconst data = $input.first().json;\n\n// Format metrics for logging/dashboarding\nconst metrics = {\n  workflow: 'ingestion_pipeline',\n  timestamp: data.timestamp || new Date().toISOString(),\n  file_name: data.fileName,\n  status: data.status,\n  ...data.metrics\n};\n\n// Log to console (can be sent to monitoring system)\nconsole.log('📊 INGESTION METRICS:', JSON.stringify(metrics, null, 2));\n\n// Return for potential webhook/database storage\nreturn { json: metrics };"
      },
      "id": "log-metrics-node",
      "name": "Log Metrics",
      "type": "n8n-nodes-base.code",
      "position": [
        2064,
        352
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingestion-metrics",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "log-error-db",
      "name": "Store Metrics (Optional)",
      "type": "n8n-nodes-base.webhook",
      "position": [
        0,
        752
      ],
      "typeVersion": 2,
      "webhookId": "ea8935fa-3b41-463c-bfe1-fdb902895706",
      "disabled": true,
      "notes": "Configure to send metrics to your monitoring system (Prometheus, Grafana, DataDog, etc.)"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=mkdir -p /files/processed && mv \"{{ $('Local File Trigger').item.json.path }}\" /files/processed/ 2>/dev/null || echo \"File already processed\""
      },
      "id": "move-to-processed",
      "name": "Move to Processed",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        1616,
        0
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "IF (PDF Only)": {
      "main": [
        [
          {
            "node": "Read Files from Disk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Log Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Log": {
      "main": [
        [
          {
            "node": "Log Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid File Type": {
      "main": [
        [
          {
            "node": "Log Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Processed": {
      "main": [
        [
          {
            "node": "Success Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local File Trigger": {
      "main": [
        [
          {
            "node": "Start Timer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Move to Processed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Timer": {
      "main": [
        [
          {
            "node": "IF (PDF Only)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "4389d673-18e9-4315-a818-954f5939f761",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bb37b45d10d4090dd28801f3823a016afb7826dd6c107441934b348e6e982ba1"
  },
  "id": "X6KfJiGrxdsThUvo",
  "tags": []
}